
/* MAIN SETTINGS */


body {
    min-width: 400px;
    max-width: 100vw;
    margin: auto;
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    text-align: center;
}


h1, h2 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

/* HEADER */

header {
    background-color: black;
}

#logo {
    padding: 1em;
    width: 10%;
    padding-right: 85vw;
}

#header-content {
    background-image: url("/images/banner.jpg");
    background-size: cover;
    background-position-x: center;
    padding: 3.5em 6em;
}
header h1{
    font-size: xx-large;
    padding: 0.5em 2em 0.5em;
    word-wrap: break-word;
    line-height: 1;
}
header p {
    padding: 0.5em 2.3em 0.5em;
    margin-bottom: 1.3em;
}

header a {
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
    color:white;
    padding: 0.8em 2em;
    border-radius: 5px;
}

header a:hover {
    background-color: #f28b79;
}

/* MAIN */

#first-block, #second-block {
    padding: 2em;
    text-align: center;
}
.paragraphs {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.9rem;
}
.main-paragraph {
    padding: 0.5em;
    text-align: left;
}
.main-paragraph h2, .schede h2 {
    padding: 0px 0em;
}
.main-paragraph p, .schede p {
    padding: 0.3em 0em;
}
#first-block img {
    border-radius: 100%;
    display: inline-block;
    width: 35%;
    vertical-align: middle;
}
/* TESTIMONIANZE */

.testimonianze {
    background-color: #e22d0e;
    color: white;
    padding: 5vh;
}

.testimonianze h2 {
    color: white;
    font-size: 1em;
    font-weight: 600;
}

.testimonianze q {
    display: block;
    font-size: 1em;
    font-weight: 100;
    font-style: italic;
    padding: 0.9em;
}
.testimonianze address {
    font-style: normal;
    font-weight: 100;
    font-size: 0.8em;
}

.testimonianze p:last-child{
    font-size: 0.7em;
}

/* SCHEDE */ 

.schede h2 {
    padding: 1em 0em;
    font-size: 0.8em;
}
.schede p {
    padding-bottom: 2em;
    font-size: 0.7em;
}
.schede img {
    width: 100%;
    height: 400%;
}
.schede {
    border-color: #dee1e3;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 5px;
    margin-bottom: 2em;
    width: 25vw;
    height: 3vh;
    display: inline-block;
    margin: 1em;
}

/* FOOTER */

footer {
    background-color: #25a2c3;
    color: #c8e7f0;
    text-align: left;

}

.three-elements-block {
    padding-left: 37.5%;
}
footer h2 {
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 1em 0em 0.5em 0em;
}
footer address {
    padding-bottom: 1em;
}
footer a {
    color: #c8e7f0;
    font-weight: 100;
}

.line hr {
    width: 25%;

}
footer p {
    padding: 1em 0em 3em;
    font-weight: 100;
    font-size: 0.9em;
    text-align: center;
}

footer li {
    list-style-type: none;
}

#freccia {
    transform: rotate(-45deg);
}